<div class="content-box">

	<h1>Баннера</h1>
	
	<div class="add">
		<a href="<?= $this->getLink('add', true) ?>">Добавить баннер</a>
	</div>
	
	<div id="banners-list">
		<ul class="ui-sortable">
		<? foreach ( $Banners as $Banner ) : ?>
			<li value="<?= $Banner->Id ?>">
				<h3 style="position: relative;">
					<?= htmlspecialchars( $Banner->Name ) ?>
					<a href="<?= URL::get( $Banner ) ?>" target="_blank" style="position: absolute; margin-left: 15px;"><?= htmlspecialchars( $Banner->Link ) ?></a>
				</h3>
				<img src="<?= File::url( $Banner ) ?>" alt="" />
				<div class="actions">
					<a href="<?= $this->getLink('edit/'.$Banner->Id) ?>">изменить</a> | 
					<a href="<?= $this->getLink('delete/'.$Banner->Id.'#delete') ?>">удалить</a>
				</div>
			</li>
		<? endforeach; ?>
		</ul>
	</div>

</div>


<script type="text/javascript">
<!--
(function($){
	
	var $list = $('#banners-list');
	
	$list.jFilterList({
		'wrapper'	: '.content-box',
		'posUrl'	: '<?= $this->getLink('pos') ?>',
		'txtDelete'	: 'Вы действительно хотите удалить текущий элемент?'
	});

})(jQuery);
//-->
</script>
