<div class="content-box">

	<h2><?= $Poll->Id ? 'Редактирование голосования' : 'Добавление голосования' ?></h2>
	
	<? if ( count( $Error ) ) : ?>
	<blockquote class="error"><?= nl2br( htmlspecialchars( implode( "\n", $Error ) ) ) ?></blockquote>
	<? endif; ?>
	
	<form action="" method="post" id="edit-form">

	<fieldset>

		<table width="100%" cellpadding="0" cellspacing="4">
		<tr>
			<th width="260">Вопрос</th>
			<td><textarea name="Question" rows="2" cols="40" class="wide" style="width: 95%"><?= htmlspecialchars( $Poll->Question ) ?></textarea></td>
		</tr>
		<? foreach ( $Poll->getAnswers(true) as $Answer ) : ?>
		<tr>
			<th>Ответ <?= $Answer->Id ?></th>
			<td>
				<input type="text" name="answer[<?= $Answer->Id ?>][Text]" value="<?= htmlspecialchars( $Answer->Text ) ?>" size="40" />
				&mdash;
				<input type="text" name="answer[<?= $Answer->Id ?>][Count]" value="<?= $Answer->Count ?>" size="5" />
			</td>
		</tr>
		<? endforeach; ?>
		</table>
				
		<div class="form-buttons">
			<button type="submit" name="submit" class="submit">Сохранить</button>
			<button type="button" name="cancel" class="cancel" href="<?= $this->getLink('', true) ?>">Отмена</button>
		</div>
	
	</fieldset>
	
	</form>
	
	
</div>

<script type="text/javascript">
<!--
(function($){
	
	var $form = $('#edit-form');

	$form.find('button.cancel').click(function(){
		redirect($(this).attr('href'));
	});

})(jQuery);
//-->
</script>
