<h2 class="h1"><a href="<?= URL::get( $Page ) ?>"><?= htmlspecialchars( $Page->Title ) ?></a></h2>
<br />
<div class="items items-docs">
	<? foreach ( $Papers as $Award ) : ?>
	<div class="item">
		<div class="frame">
			<div class="frame2">
				<a href="<?= File::url( $Award, 1 ) ?>" class="lightbox" rel="prettyPhoto[d]" title="<?= htmlspecialchars( $Award->Name ) ?>">
					<img src="<?= File::url( $Award, 0 ) ?>" alt="<?= htmlspecialchars( $Award->Name ) ?>" />
				</a>
			</div>
		</div>
	</div>
	<? endforeach; ?>
</div>
