<div class="section sc-bl">
	<div class="aside">
		<div class="inner">
			<div class="circle"><img src="/img/circle-d.gif" alt="" /></div>
		</div>
	</div>
	<div class="cside">
		<h1><?= htmlspecialchars( $Page->Title ) ?></h1>
		<ul class="doc">
			<? foreach ( $Documents as $Document ) : ?>
			<li>
				<a class="c-bl" href="<?= File::url( $Document ) ?>"><?= htmlspecialchars( $Document->Name ) ?></a>
				<span class="size">(<?= File::extension( $Document->Filename ) ?>, <?= $Document->getFilesize() ?>)</span>
			</li>
			<? endforeach; ?>
		</ul>
	</div>
</div>
