<div class="content-box">

	<div class="add">
		<a href="<?= $this->getLink('add') ?>">Добавить валюту</a>
	</div>

	<div id="currencies-list">

		<table class="data-list currencies">
			<thead>
				<tr>
					<td class="col-default">&nbsp;</td>
					<td class="col-name">Наименование</td>
					<td class="col-format">Формат</td>
					<td class="col-rate">Курс</td>
					<td class="col-countries">Страны</td>
					<td class="col-enabled">&nbsp;</td>
					<td class="col-actions">&nbsp;</td>
				</tr>
			</thead>
		</table>

		<ul class="data-list ui-sortable">
			<? foreach ( $Currencies as $Currency ) : ?>
			<li value="<?= $Currency->Id ?>">
				<table class="data-list currencies">
				<tr>
					<td class="col-default"><input type="radio" name="IsDefault" value="<?= $Currency->Id ?>" <?= HTML::checked( $Currency->IsDefault ) ?> /></td>
					<td class="col-name ui-movable-icon"><?= htmlspecialchars( $Currency->Name ) ?></td>
					<td class="col-format"><?= htmlspecialchars( $Currency->getExample() ) ?></td>
					<td class="col-rate"><?= $Currency->Rate ?></td>
					<td class="col-countries"><?= htmlspecialchars( $Currency->Countries ) ?></td>
					<td class="col-enabled">
						<input type="checkbox" name="IsEnabled[]" value="<?= $Currency->Id ?>" <?= HTML::checked( $Currency->IsEnabled ) ?> />
					</td>
					<td class="col-actions">
						<a href="<?= $this->getLink('edit/'.$Currency->Id, true) ?>" class="btn btn-edit" title="Редактировать"></a>
						<a href="<?= $this->getLink('delete/'.$Currency->Id, true) ?>#delete" class="btn btn-delete" title="Удалить"></a>
					</td>
				</tr>
				</table>
			</li>
			<? endforeach; ?>
		</ul>
	</div>

</div>


<script type="text/javascript">
<!--
(function($){

	var $list = $('#currencies-list'), urlStatus = "<?= $this->getLink('status') ?>";
	
	$list.jFilterList({
		'wrapper'	: '.content-box',
		'posUrl'	: "<?= $this->getLink('pos') ?>",
		'txtDelete'	: "Вы уверены?"
	});

	$list.find('input[name="IsEnabled[]"]').change(function(){
		$.post(urlStatus, {"ajax" : 1, "id" : $(this).val(), "action" : "status"});
	});

	$list.find('input[name="IsDefault"]').change(function(){
		$.post(urlStatus, {"ajax" : 1, "id" : $(this).val(), "action" : "default"});
	});

})(jQuery);
//-->
</script>
