<body id="inner">
        <div style="background: none repeat scroll 0 0 #fff;  margin: 0 auto;   max-width: 1600px;   min-width: 1024px; overflow: hidden;">  
        <div style='z-index: 100; border: none; height:28px; width:100%; background-color: #434343;' >
            <div style="height:28px; margin-left: 140px; width:188px; background: url('/frontend/img/top-links.png');">
                <a class="ua" href="#">Украина</a>
                <a class="rk" href="http://ankor-crimea.ru">Республика Крым</a>
            </div>
        </div>
    </div>
	<div class="layer">
		<?= $this->htmlHeader() ?>
		<div class="content content-catalog">
			<?= $this->htmlBody() ?>
		</div>
		<div class="wrap">
			<?= $this->htmlFooter() ?>
		</div>
	</div>
</body>
