<div class="content-box">

	<h1>Редактирование карты</h1>
	
	<form action="" method="post" id="edit-form" class="ping">

	<fieldset>

		<table width="400" cellpadding="0" cellspacing="4">
		<tr>
			<td>Код карты</td>
		</tr>
		<tr>
			<td><textarea name="Config[contact/map]" rows="5" cols="40" class="wide"><?= htmlspecialchars( Config::get('contact/map') ) ?></textarea></td>
		</tr>
		</table>
		
		<div class="form-buttons">
			<button type="submit" name="submit" class="submit">Сохранить</button>
			<button type="button" name="cancel" class="cancel" href="<?= $this->getLink('', true) ?>">Отмена</button>
		</div>
	
	</fieldset>
	
	</form>
	
	
</div>

<script type="text/javascript">
<!--
(function($){
	
	var $form = $('#edit-form');

	$form.find('button.cancel').click(function(){
		redirect($(this).attr('href'));
	});

})(jQuery);
//-->
</script>
