<div class="content-box">

	<? if ( $this->isPurchase() ) : ?>
	<h1><?= $Announce->Id ? 'Редактирование закупки' : 'Добавление закупки' ?></h1>
	<? else : ?>
	<h1><?= $Announce->Id ? 'Редактирование вакансии' : 'Добавление вакансии' ?></h1>
	<? endif; ?>
	
	<? if ( count( $Error ) ) : ?>
	<blockquote class="error"><?= nl2br( htmlspecialchars( implode( "\n", $Error ) ) ) ?></blockquote>
	<? endif; ?>
	
	<form action="" method="post" id="edit-form">

	<fieldset>

		<table width="100%" cellpadding="0" cellspacing="4">
		<tr>
			<th width="200">Заголовок</th>
			<td><input type="text" name="Title" value="<?= htmlspecialchars( $Announce->Title ) ?>" class="wide" /></td>
		</tr>
		<tr>
			<th>Текст</th>
			<td>
				<textarea name="Content" rows="10" cols="40" class="wysiwyg" style="width: 95%"><?= htmlspecialchars( $Announce->Content ) ?></textarea>
			</td>
		</tr>
		</table>
		
		<div class="form-buttons">
			<button type="submit" name="submit" class="submit">Сохранить</button>
			<button type="button" name="cancel" class="cancel" href="<?= $this->getLink('', true) ?>">Отмена</button>
		</div>
	
	</fieldset>
	
	</form>
	
	
</div>

<script type="text/javascript">
<!--
(function($){
	
	var $form = $('#edit-form');
	
	$form.find('button.cancel').click(function(){
		redirect($(this).attr('href'));
	});

	$form.find('textarea.wysiwyg').tinymce($.tinymce.defaultOptions.simple);
	
})(jQuery);
//-->
</script>
