Дорогой, менеджер. <br />
Поступило предложение с сайта. <br />
<br />

<u>Имя</u><br />
<?= htmlspecialchars( Request::get('Name') ) ?><br />
<br />

<u>Компания</u><br />
<?= htmlspecialchars( Request::get('Company') ) ?><br />
<br />

<u>Город</u><br />
<?= htmlspecialchars( Request::get('City') ) ?><br />
<br />

<u>Сфера деятельности</u><br />
<?= htmlspecialchars( Request::get('Job') ) ?><br />
<br />

<u>Телефон</u><br />
<?= htmlspecialchars( Request::get('Phone') ) ?><br />
<br />

<u>E-mail</u><br />
<?= htmlspecialchars( Request::get('Email') ) ?><br />
<br />

<? $question = Request::get('Question'); ?>

<u>Вы легко нашли необходимую информацию на сайте?</u>
<b><?= htmlspecialchars( $question[0] ) ?></b><br />
<br />

<u>Вы довольны качеством работы менеджера?</u>
<b><?= htmlspecialchars( $question[1] ) ?></b><br />
<br />

<u>Вы довольны оперативностью обработки вашего заказа?</u>
<b><?= htmlspecialchars( $question[2] ) ?></b><br />
<br />


<u>Комментарий</u><br />
<?= nl2br( htmlspecialchars( Request::get('Comment') ) ) ?><br />
<br />

