<? $Order = $this->getObject(); ?>
<? $Address = $Order->getAddress(); ?>

<style type="text/css">
	thead td{
		background: #eeeeee;
	}
	tfoot td, tfoot th{
		height: 30px;
		line-height: 30px;
		background: #eeeeee;
	}
	table th{
		width: 150px;
		text-align: left;
	}
	
</style>

Дорогой, менеджер. <br />
Поступил заказ от клиента. <br />
<br />

<table width="600">
	<tr>
		<th>Филиал</th>
		<td>
			<?= htmlspecialchars( $Order->getBranch()->Name ) ?> 
			<? if ( $Order->Pickup ) : ?>
			<em>самовывоз</em>
			<? endif; ?>
		</td>
	</tr>
	<tr>
		<th>Имя</th>
		<td><?= htmlspecialchars( $Address->Name ) ?></td>
	</tr>
	<tr>
		<th>Компания</th>
		<td><?= htmlspecialchars( $Address->Company ) ?></td>
	</tr>
	<tr>
		<th>Телефон</th>
		<td><?= htmlspecialchars( $Address->Phone ) ?></td>
	</tr>
	<tr>
		<th>E-mail</th>
		<td><?= htmlspecialchars( $Address->Email ) ?></td>
	</tr>
	<tr>
		<th>Адрес</th>
		<td><?= nl2br( htmlspecialchars( $Address->Street ) ) ?></td>
	</tr>
</table>

<p>Список заказа</p>

<table width="600">
<thead>
	<tr>
		<td width="300">Продукт</td>
		<td width="100" align="right">Цена</td>
		<td width="100" align="right">Кол-во</td>
		<td width="100" align="right">Сумма</td>
	</tr>
</thead>
<tbody>
	<? foreach ( $Order->getRows() as $Row ) : ?>
	<? $Unit = $Row->getProduct(); ?>
	<? $Product = $Unit->getProduct(); ?>
	<tr valign="center">
		<td>
			<img src="<?= URL::abs( File::url( $Product, 0 ) ) ?>" align="left" alt="" />
			<p><?= htmlspecialchars( $Product->Name ) ?></p>
			<em><?= htmlspecialchars( $Unit->Name.' '.$Unit->Unit ) ?></em>
		</td>
		<td valign="middle" align="right"><?= Price::show( $Row->Price ) ?> <?= Price::sign() ?></td>
		<td align="right"><?= $Row->Quantity ?></td>
		<td align="right"><?= Price::show( $Row->getAmount() ) ?> <?= Price::sign() ?></td>
	</tr>
	<? endforeach; ?>
</tbody>
<tfoot>
	<tr>
		<th colspan="3">Итого</th>
		<td align="right"><?= Price::show( $Order->Total ) ?> <?= Price::sign() ?></td>
	</tr>
</tfoot>
</table>
